html, body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #252839;
}
#box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 50%;
  color: white;
  font-family: 'Raleway';
  font-size: 100%;
}
#texto{font-size: 1.5rem; padding: 2%; word-wrap: break-word;}
.gradient-border {
  --borderWidth: 10px;
  background: #252839;
  position: relative;
  border-radius: var(--borderWidth);
  line-height: 2em;
}
#texto h1
{
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*ESTILO DEL MENU*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #252839;
}
ul{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
ul li{
  position: relative;
  list-style: none;
}
ul li a{
  position: relative;
  font-size: 2em;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}
ul li a::before{
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid  var(--clr);
  -webkit-text-stroke: 1px  var(--clr);
}
ul li a:hover::before{
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}
